@use "../configs/variables.scss";

.footer {
  padding-top: 40px;
  background:
    url("../img/bg-pattern.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%);

  @media (max-width: variables.$laptop-width) {
    padding-top: 30px;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: 279px 300px 300px;
  justify-content: space-between;

  @media (max-width: variables.$laptop-width) {
    grid-template-columns: 279px 300px;
    justify-content: center;
    row-gap: 65px;
    column-gap: 60px;
  }

  @media (max-width: variables.$tablet-width) {
    grid-template-columns: 300px;
    row-gap: 40px;
  }
}

.footer__image {
  @media (max-width: variables.$laptop-width) {
    grid-column: 1 / -1;
    justify-self: center;
  }

  @media (max-width: variables.$tablet-width) {
    max-width: 260px;
  }
}

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 60px;

  @media (max-width: variables.$laptop-width) {
    min-height: 234px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (max-width: variables.$tablet-width) {
    align-items: center;
    min-height: auto;
  }
}

.footer__title {
  margin: 0;

  @media (max-width: variables.$tablet-width) {
    margin-right: 15px;
    margin-bottom: 40px;
    margin-left: 15px;
  }
}

.footer__link {
  display: flex;
  align-items: center;
  color: var(--color-primary);
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;

  svg {
    flex-shrink: 0;
    margin-right: 20px;
  }

  &--pin {
    @media (max-width: variables.$tablet-width) {
      align-self: start;
    }
  }
  transition: opacity 200ms ease 0s;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.footer__link + .footer__link {
  @media (max-width: variables.$tablet-width) {
    margin-top: 40px;
  }
}
