.footer {
  padding-top: 40px;
  background-image: radial-gradient(
    110.67% 538.64% at 5.73% 50%,
    #513d2f 0%,
    #1a1a1c 100%
  );
}

.footer__container {
  display: grid;
  grid-template-columns: 279px 300px 300px;
  justify-content: space-between;

  @media (max-width: $laptop-width) {
    grid-template-columns: 279px 300px;
    justify-content: center;
    row-gap: 65px;
    column-gap: 60px;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 300px;
  }
}

.footer__image {
  @media (max-width: $laptop-width) {
    grid-column: 1 / -1;
    justify-self: center;
  }

  @media (max-width: $laptop-width) {
    max-width: 260px;
  }
}

.footer__section {
  padding: 0;
  padding-top: 16px;
}

.footer__title {
  margin: 0;
  margin-bottom: 35px;
}

.footer__link {
  display: flex;
  align-items: center;
  color: var(--color-primary);

  svg {
    flex-shrink: 0;
    margin-right: 20px;
  }
}

.footer__link + .footer__link {
  margin-top: 40px;
}

.footer__link--pin + .footer__link--pin {
  margin-top: 32px;
}
