@use "../configs/variables.scss";

// .help {
// }

.help__title {
  margin-bottom: 60px;

  @media (max-width: variables.$tablet-width) {
    margin-bottom: 42px;
  }
}

.help__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 55px;
  margin: 0;
  margin: 0 auto;
  padding: 0 39px;
  column-gap: 120px;
  list-style: none;

  @media (max-width: variables.$laptop-width) {
    row-gap: 55px;
    column-gap: 60px;
  }

  @media (max-width: variables.$tablet-width) {
    justify-content: start;
    gap: 30px;
    max-width: 290px;
    padding: 0;
  }
}

.help__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;

  svg {
    width: 60px;
    height: 60px;
  }

  @media (max-width: variables.$laptop-width) {
    width: 170px;
  }

  @media (max-width: variables.$tablet-width) {
    width: 130px;
    height: 87px;

    svg {
      width: 50px;
      height: 50px;
    }
  }
}
