@use "../configs/variables.scss";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-3xl-a60);
  visibility: hidden;
  cursor: pointer;
  transform: scale(1.15);
  opacity: 0;
  transition: transform 100ms, opacity 100ms, visibility 0ms 100ms;
  animation-name: modal;
  animation-duration: 200ms;

  &--open {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    transition: transform 300ms, opacity 300ms;
  }
}

@keyframes modal {
  from {
    transform: scale(130%);
  }

  to {
    transform: scale(100%);
  }
}

.modal__box {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  border-radius: 13px 0 0 9px;
  cursor: auto;
}

/* close-button */

.modal__close-button {
  position: absolute;
  top: -52px;
  right: -42px;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background-image: url("../img/sections/modal/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  transition: background-color 200ms ease 0s;

  &:hover,
  &:focus {
    background-color: var(--color-primary) !important;
  }

  @media (max-width: variables.$tablet-width) {
    right: -30px;
  }
}

.modal:hover .modal__close-button {
  background-color: var(--color-primary);
}

.modal__box:hover .modal__close-button {
  background-color: transparent;
}

.modal__content {
  display: flex;
  width: 900px;
  margin: 0 auto;
  border-radius: 9px;
  overflow: hidden;
  background-color: var(--color-light-s);

  @media (max-width: variables.$laptop-width) {
    width: 630px;
  }

  @media (max-width: variables.$tablet-width) {
    width: 240px;
    padding: 10px;
  }
}

.modal__image {
  flex-shrink: 0;
  width: 500px;
  height: 500px;

  @media (max-width: variables.$laptop-width) {
    width: 350px;
    height: 350px;
  }

  @media (max-width: variables.$tablet-width) {
    display: none;
  }
}

.modal__text-column {
  max-width: 350px;
  margin-left: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Georgia", serif;
  font-style: normal;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.05em;

  @media (max-width: variables.$laptop-width) {
    max-width: 261px;
    margin-left: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (max-width: variables.$tablet-width) {
    margin-left: 0;
    padding: 10px;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Georgia", serif;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;

  @media (max-width: variables.$tablet-width) {
    text-align: center;
  }
}

.modal__subtitle {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;

  @media (max-width: variables.$laptop-width) {
    margin-bottom: 20px;
  }

  @media (max-width: variables.$tablet-width) {
    text-align: center;
  }
}

.modal__text {
  margin: 0;
  margin-bottom: 40px;

  @media (max-width: variables.$laptop-width) {
    margin-bottom: 19px;
    font-size: 13px;
    line-height: 14px;
  }
}

.modal__list {
  margin: 0;
}

.modal__parameter {
  // display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal__term {
  position: relative;

  // display: flex;
  // display: inline-flex;
  display: inline-flex;
  padding-left: 14px;
  font-weight: 700;

  &::before {
    position: absolute;
    top: 5px;
    left: 0;
    width: 4px;
    height: 4px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--color-primary);
    content: "";
  }
}

.modal__definition {
  display: inline;
  margin: 0;
}
