.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    justify-content: end;
  }
}

.navigation__logo {
  position: relative;
  z-index: 10;
  flex-shrink: 0;

  @media (max-width: $tablet-width) {
    margin-right: 43px;
  }
}

/* navigation__list */

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  list-style: none;

  @media (max-width: $tablet-width) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.2s ease, visibility 0ms 200ms;

    // display: none;
  }
}

.navigation--open .navigation__list {
  @media (max-width: $tablet-width) {
    width: 320px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--color-dark-3xl);
    visibility: visible;
    transform: translateX(0%);
    transition: transform 0.2s ease, visibility 0ms 0ms;

    &::before {
      position: absolute;
      right: 320px;
      left: -200vw;
      height: 106vh;
      background-color: var(--color-dark-3xl-a60);
      content: "";
    }
  }
}

.header--pets .navigation__list {
  @media (max-width: $tablet-width) {
    background-color: var(--color-light-xl);
  }
}

// .navigation__item {
// }

.navigation__link {
  display: block;
  color: var(--color-dark-s);
  font-size: var(--fz-nav-link);
  line-height: var(--lh-nav-link);
  transition: opacity 200ms ease 0s;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &--active {
    border-bottom: 3px solid var(--color-primary);
  }
}

.header--pets {
  .navigation__link {
    color: var(--color-dark-l);
  }
}

/* toggle */

.navigation__toggle {
  position: relative;
  z-index: 2;
  display: none;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-right: 43px;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.navigation__toggle-line {
  display: block;
  height: 2px;
  background-color: var(--color-primary);
  transition: transform 200ms ease 0s;

  &::before,
  &::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    content: "";
    transition: top 200ms ease 150ms, bottom 200ms ease 150ms;
  }

  &::before {
    top: 4px;
    left: 0;
  }

  &::after {
    bottom: 4px;
    left: 0;
  }
}

.navigation--open .navigation__toggle-line {
  transform: rotate(90deg);

  &::before {
    top: 10px;
  }

  &::after {
    bottom: 10px;
  }
}
