@use "../configs/variables.scss";

.pets {
  margin-top: 120px;

  @media (max-width: variables.$laptop-width) {
    padding-bottom: 75px;
  }

  @media (max-width: variables.$tablet-width) {
    padding-bottom: 42px;
  }
}

.pets__title {
  margin: 0;
  margin-bottom: 45px;

  @media (max-width: variables.$laptop-width) {
    margin-bottom: 30px;
  }

  @media (max-width: variables.$tablet-width) {
    margin-bottom: 42px;
  }
}

.pets__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 30px;
  margin: 0 auto;
  margin-bottom: 45px;
  padding: 0;
  column-gap: 40px;
  list-style: none;

  @media (min-width: variables.$desktop-width-only) {
    padding: 15px 0;
  }

  @media (max-width: variables.$laptop-width) {
    grid-template-columns: 1fr 1fr;
    max-width: 580px;
    margin-bottom: 40px;

    .item:nth-child(7),
    .item:nth-child(8) {
      display: none;
    }
  }

  @media (max-width: variables.$tablet-width) {
    grid-template-columns: 1fr;
    margin-bottom: 42px;

    .item:nth-child(4),
    .item:nth-child(5),
    .item:nth-child(6) {
      display: none;
    }
  }
}
