@use "../configs/variables.scss";

.slider {
  position: relative;
}

.slider__list {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 90px;
  max-width: 580px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (max-width: variables.$laptop-width) {
    gap: 40px;
  }

  @media (max-width: variables.$tablet-width) {
    margin-bottom: 20px;
  }
}

.slider__item {
  @media (max-width: variables.$laptop-width) {
    &:nth-child(3) {
      display: none;
    }
  }

  @media (max-width: variables.$tablet-width) {
    &:nth-child(2) {
      display: none;
    }
  }
}

.slider__controls {
  position: absolute;
  top: 50%;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);

  @media (max-width: variables.$tablet-width) {
    position: static;
    width: 184px;
    margin: 0 auto;
    transform: translateY(0);
  }
}

.slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary-light);
  border-radius: 50%;
  transition: background-color 200ms ease 0s;

  &--next {
    svg {
      transform: rotate(180deg);
    }
  }

  &:hover,
  &:focus {
    background-color: var(--color-primary-light);
  }
}
